[submodule "services/payment-core"]
	path = services/payment-core
	url = https://github.com/meli-mais/payment-core.git
	branch = develop
[submodule "services/comprovantes"]
	path = services/comprovantes
	url = https://github.com/meli-mais/ms-comprovantes.git
	branch = feat/notificacao-kafka
[submodule "services/notificacao"]
	path = services/notificacao
	url = https://github.com/meli-mais/vigilant-goggles.git
	branch = feat/notificacao-integracao
